.BattleScreen {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;

  .Battleground {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: red;
    width: 100%;
    height: 100%;
  }

  .PlayContainer {
    grid-row: 2/3;
    grid-column: 1/3;
    font-size: 0.4rem;

    .QuestionContainer {
      text-align: center;
      padding: 1rem;
      font-size: 0.8rem;
    }

    .TimeLeftContainer {
      padding: 1rem;
      padding-top: 0;
    }

    .AnswersContainer {
      padding: 1rem;
      padding-top: 0;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 5px;
    }

    .StrategyContainer {
      display: none;
      // display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  .BattlefieldGrid {
    position: relative;
    margin-top: 10px;
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .BattlefieldPlayer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      .BattlefieldPlayerAvatar {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ArrowIndicator {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        animation-name: arrow-bobbing;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
      }

      .Crosshair {
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;

        animation-name: crosshair-rotate;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }

      .PlayerAvatar {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        
      }
      .PlayerName {
        font-size: 10px;
        text-align: center;
        margin-bottom: 3px;
      }
      .PlayerHealthWrapper {
        height: 15px;
        width: 80%;
        border: 4px inset #717171;
        border-radius: 6px;
        position: relative;
        .PlayerHealth {
          width: 100%;
          height: 100%;
          transition: width .3s;
          background: #cf0202;
        }
        .HeartIcon {
          position: absolute;
          left: -8px;
          top: -8px;
          transform: scale(1.5);
        }
      }
    }
    #FireballsWrapper {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}
.Fireball {
  position: absolute;
  width: 40px;
  height: 40px;
  background: red;
  border-radius: 50%;
  transition: all 2s;
}

@keyframes arrow-bobbing {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(-1.5rem);
  }
}

@keyframes crosshair-rotate {
  0% {
    transform: translateY(-0.5rem) rotateZ(0deg);
  }
  50% {
    transform: translateY(0.5rem) rotateZ(180deg);
  }
  100% {
    transform: translateY(-0.5rem) rotateZ(360deg);
  }
}
