.screen_wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100%;
}
.signup_text {
  margin-bottom: 20px;
}
.signup_logo_container {
  width: 100%;

  img {
    width: 100%;
    height: auto;
    margin-bottom: 10rem;

    animation-name: logo-bobbing;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }
}

@keyframes logo-bobbing {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(2rem);
  }
}
