.LoadingWrapper {
  width: 80%;
  height: calc(100% - 40px);
  position: relative;
  margin: 20px auto;
  .LoadingLogo {
    width: 100%;
  }
  .ClipLoader {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}