.EndgameScreen {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.EndgameScreenStatus {
  &.winner {
    color: green;
  }

  &.loser {
    color: red;
  }
}

.EndgameScreenCharacter {
  &.loser {
    transform: rotateZ(90deg) rotateY(45deg);
    filter: grayscale(100%);
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: -10px;
      bottom: 0;
      border-radius: 100%;
      height: 100%;
      width: 50px;
      background: lightgray;
      z-index: -1;
    }
  }

  &.winner {
    margin-top: 1rem;

    animation-name: winner-jump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

.EndgameDetails {
  padding: 1rem;

  table td {
    padding: 0.2rem 1rem;
  }
}

@keyframes winner-jump {
  0% { transform: translateY(0) }
  5% { transform: translateY(-1rem) }
  15% { transform: translateY(0) }
}
