.header {
  text-align: center;
}

.lobby_users_wrapper {
  margin-top: 50px;
}

.lobby_user_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
}

.lobby_user_name {
  flex: 1;
  text-align: center;
}

.lobby_user_avatar {
  display: flex;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid gray;
  justify-content: center;
  align-items: center;
}