.PlayScreen {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr 1fr 1ft;
  width: 100%;
  height: 100%;
  grid-gap: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .w-80 {
      width: 80%;
  }

  .w-90 {
    width: 90%;
}

  .InfoPanelContainer {
    grid-column: 1/4;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
    justify-items: stretch;
    padding-left: 10px;
    padding-right: 10px;

    .UsernameContainer {
    }

    .StarsContainer {
      visibility: hidden;
    }
  }

  .AvatarContainer {
    grid-column: 1/4;
    grid-row: 2/3;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .PlayButtonContainer {
    grid-column: 1/4;
    grid-row: 3/4;
    width: 100%;
    text-align: center;
  }

  .GameOptionsContainer {
    visibility: hidden;
    grid-column: 1/4;
    grid-row: 5/6;
    width: 100%;
    font-size: 0.5rem;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
}
